<html style="overflow:hidden">
	<head>
		<title>Watch it!</title>
		<!-- Latest compiled Bootstrap minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
		<script src="../js/movieFunctions.js"></script>
	</head>
	<body>
		<div class="background-main"></div>
		<div class="bg-movies-grid"></div>
		<div class="blanket"></div>
		<div class="create-div">
			<div class="row join-div">
				<div class="col-sm-3 col-xs-6 title">Group name</div><div class="col-sm-9 col-xs-6 pull-left"><input name="gname" /></div>
			</div>
			<div class="row join-div">
				<div class="col-sm-3 col-xs-6 title">Password</div><div class="col-sm-9 col-xs-6 pull-left"><input name="pass" /></div>
			</div>
			<div class="row join-div">
				<div class="col-sm-3 col-xs-6 title">Invite friends</div><div class="col-sm-6 col-xs-3 pull-left padding-top">
				<div class="add"></div></div>
				<div class="col-xs-3"><div class="go pull-right" onclick="goToMovies()"></div></div>
		</div>
		</div>
		<div class="side-menu">
				<div id="find" class="icon"></div>
				<div id="invite" class="icon"></div>
		</div>
	</body>
</html>






<!-- 


<html>
	<head>
		<title>Watch it!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="../js/movieFunctions.js"></script>
		<script src="../lib/jQuery-jQuery-UI-Plugin-For-Simle-Tokenized-Autocomplete-Autocomplete-Multiselect/src/jquery.autocomplete.multiselect.js"></script>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
	</head>
	<body>
		<div class="background-main"></div>
		<div class="blanket"></div>
		<div class="create-div content-div">
			<div class="row">
				<div class="col-xs-12">
					<span class="info">Copy this link and share it with your group:</span>
					<a class="link" id="sessionLink">#54352</a>
				</div>
			</div>
			<center style="padding-top: 50px">
			<div class="row padding-top">
				<div class="col-xs-12">
					<span class="padding-right">What's your name?</span> 
					<input type="text" name="name" placeholder="John Doh" />
				</div>
			</div>

			<div class="row padding-top">
				<div class="col-xs-12">
					<span>Choose up to 5 movies that you like:</span>
					<input class="moviesAutocomplete ui-autocomplete-input" type="text" style="width: 400px">
				</div>
			</div>
			</center>
		</div>
		
	</body>
</html> -->