<html style="overflow:hidden">
	<head>
		<title>Watch it!</title>
		<!-- Latest compiled Bootstrap minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
		<script src="../js/movieFunctions.js"></script>
	</head>
	<body>
		<div class="background-main"></div>
		<div class="bg-movies-grid"></div>
		<div class="blanket"></div>
		<div class="login-div content-div">
			<div class="row join-div">
				<div class="col-xs-6 title">Group name</div><div class="col-xs-6"><input name="gname" /></div>
			</div>
			<div class="row join-div">
				<div class="col-xs-6 title">Password</div><div class="col-xs-6"><input name="pass" /></div>
			</div>
			<div class="go pull-right" onclick="goToMovies()"></div>
		</div>
		<div class="side-menu">
				<div id="find" class="icon"></div>
				<div id="invite" class="icon"></div>
		</div>
	</body>
</html>