<html>
	<head>
		<title>Watch it!</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Latest compiled Bootstrap minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
		<script src="../js/movieFunctions.js"></script>
	</head>
	<body style="padding-right:130px; background-color: #00333f;height:100%;width:100%">
		<div class=""></div>
		<!-- <div class="bg-movies-grid"></div> -->
		<div class="blanket"></div>
<!-- 		<div class="login-div content-div">
			<div class="row menu-div">
				<div class="col-xs-6"><button onclick="create()">Create</button></div>
				<div class="col-xs-6"><button onclick="join()">Join</button></div>
			</div>
		</div> -->

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/1.jpg'); background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

				<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/2.jpg'); background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/3.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/4.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/5.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/6.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie" style="background-image: url('../img/movies/7.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-6">
			<div class="movie"  style="background-image: url('../img/movies/8.jpg');background-size: 100% auto;
background-repeat: no-repeat;">
				<div class="funcs">
					<div class="row">
						<center>
							<div class="icon yay"></div>
							<div class="icon mm"></div>
							<div class="icon nay"></div>
						</center>
					</div>
				</div>
			</div>
		</div>

				

		<div class="side-menu">
				<div id="find" class="icon"></div>
				<div id="invite" class="icon"></div>
		</div>
	</body>
</html>